<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/home.css" type="text/css">
    <title>home</title>
  </head>
  <body>
    <div class="container">
    <form action="/home" method="POST">
        <div class="home">
            <div class="home-screen">
                <div class="app-title">
                    <h1>Homepage</h1>
                </div>
                
                <div class="control-group">
                        <input class="btn tn-register" name="action" type="submit" value="Logout">
                </div>  
            </div>
        </div>
    </form>
    </div>
 </body>
</html>